@font-face {
    font-family: 'Almarai Bold';
    src: url('Almarai-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Almarai Light';
    src: url('Almarai-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Almarai Regular';
    src: url('Almarai-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}


*:not(ons-icon){
    font-family: 'Almarai Regular' !important;
}

.category_wrapper {
    display: inline-flex;
    width: 50%;
    height: 180px;
    justify-content: center;
    align-items: center;
}
.category_wrapper .card {
    display: flex !important;
    justify-content: space-between !important;
}
.category_wrapper .card img {
    height: 50%;
}
#featured_wrapper {
    display: flex;
    flex-direction: column;
}

.topic_wrapper {
    display: flex;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    direction: rtl;
    margin: 8px;
    height: 70px;
}
.topic_wrapper ons-card.card {
    margin: 0;
    width: 100%;
    direction: rtl;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
}
ons-row#search_wrapper ons-card {
    width: 100%;
    text-align: right;
}
ons-row#search_wrapper .topic_wrapper {
    width: 100%;
}
.content_image {
    width: 80%;
    margin: 0 auto;
}
ons-row#content_wrapper {
    padding: 10px;
}   
ons-row#content_wrapper {
    text-align: right;
    direction: rtl;
}
ons-toolbar.toolbar {
    background: #1cd29b;
    color: white;
}
ons-toolbar.toolbar .center {
    color: white;
}
ons-toolbar-button.back_btn.toolbar-button {
    color: white;
}
ons-search-input.search {
    margin-top: 8px;
    direction: rtl;
}
ons-search-input.search input {
    color: white;
}
ons-search-input.search input::placeholder {
    color: rgba(255,255,255,0.5);
}
.category_wrapper ons-card {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
div#categories_wrapper {
    margin-top: 5px;
    direction: rtl;
}
ons-card.card {
    color: #1cd29b;
    text-align: center;

}
ons-card.card ons-icon {
    font-size: xx-large;
}
img.content_image {
    border-radius: 5px;
}
#preface .page__content {
    background: url(../img/splash-screen.png) !important;
    background-size: cover !important;
}

#preface .button_wrapper{
    position: absolute;
    bottom: 0;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#preface .button_wrapper ons-button.button {
    width: 80%;
    display: flex;
    justify-content: center;
}
.logo_wrapper img {width: 50%;margin: 0 auto;filter: invert(1);}

.logo_wrapper {display: flex;padding-top: 50px;padding-bottom: 50px;}


/* .page__background{
    background: white ;
} */
ons-page#main .page__background {
    background: #1cd29b ;

}
#category .page__background, #topic .page__background {
    background-image: url(../img/imgs/egypt.png);
    opacity: 0.2;
    position: center;
    background-position-y: bottom;
}
.content_wrapper {
    height: calc(100% - 84px);
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 20px;

}

.topic_nav_wrapper {
    height: 44px;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    direction: rtl;
}
.nav_btn_wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topic_nav_btn {
    height: 80%;
    width: 80%;
    background: #1cd29b;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.hidden{
    display: none;
}